﻿@model StndCorp.Models.ViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("Submit", "Data", FormMethod.Post))
        {
       <i>Code:</i>  @Html.TextBoxFor(m => m.cust.CustomerCode) <br />
        <i>Name:</i> @Html.TextBoxFor(m => m.cust.CustomerName) <br />
        }
    </div>
</body>
</html>
