﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<br />

<br />

<div class="row">
    <div class="col-md-7">
        <div class="map">
            <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.351840578442!2d77.21243699999998!3d28.649181999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd6bd08cf753%3A0xf4a65a1d9a29a8ee!2sSunder+Tailors!5e0!3m2!1sen!2sin!4v1425836971053" width="600" height="450" frameborder="0" style="border:0"></iframe>
            
        </div>
    </div>
    <div class="col-md-5">
        <p class="m_8"><h1>SUNDER TAILORS</h1></p>
        <div class="address">
            <p>MSC117, YOGMAYA STREET,</p>
            <p>PAHARGANJ, NEW DELHI-110055</p>
            <p>INDIA</p>
            <p>Phone:+91-9891351884 / +91-9582865750 </p>
            <p>Email: <a href="mailto:Support@STnDCorp.in">Support@STnDCorp.in</a><br /></p>
            <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
        </div>
    </div>
</div>
