﻿@model StndCorp.Models.Gallery
@{
    ViewBag.Title = "Gallery";
}
<h2>Gallery</h2>
<br />
<br />
<br />

<div class="row">

    <div class="col-lg-12">
        
    </div>

    @for (int i = 0; i < @Model.strlistmain.Count - 1; i++)
    {

        <div style="margin: 20px 0px;" class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="\content\images\gallery\@Model.strlistmain[i].ToString()">
                <img class="img-responsive" src="\content\images\gallery\@Model.strlistmain[i].ToString()" alt="">

            </a>
        </div>
    }

</div>



